*{
    font-family:"Verdana", sans-serif;
    background-color: black;
    color:white;
   }

.a, a:visited, a:active, a:hover{
    color: white !important;
}

.unlist{
    font-size:36px;
}

button{
    background-color: black;
    color:white;
    font-size:36px;
}
